* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(214, 198, 193);

}
.list{
  position: relative;
  display: flex;
  gap: 60px;
  background-color: rgb(48, 27, 27);
  font-size: 30px;
  padding: 20px 10px 5px;
  font-family:'Courier New', Courier, monospace;
  
}
li {
  list-style:none;
  
  
}
.list li:hover, .list li:active{
  border-bottom: 3px solid pink;
}

a{
  text-decoration: none;
  color: white;
}

/* Dash Board */
header {
  text-align: center;
  padding: 30px 10px auto;
}
header div{
  margin: 60px, 20px, auto;
  padding: 30px;
  background-color:darkgray;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
  height: 900px;
  width: 100%;
  overflow: auto;
}
main div{
  text-align: center;
  justify-content: center;
  margin: 30px;
}
main div h2{
  font-size: 30px;
  margin: 40px;
  padding: 20px;
}

main div ul {
  margin: 40px;
  padding: 30px;
  background-color: aquamarine;
  justify-content: right;
  height: 300px;

}
main div ul li {
  margin: 50px;
  font-size: 30px;

}
main div ul li a{
  color: black;
  font-weight: bolder;
  background-color:rgb(234, 190, 14);
  border-radius: 6px;
  padding: 10px;
}
footer{
  background-color:white;
  padding: 40px;
}
footer h2{
  font-size: 30px;
}
footer ul{
  margin: 30px;
  display: flex;
  gap: 50px;
}

img {
  width: 50px;
  height: 50px
}


/* Register */
.error {
  font-size: 20px;
  background-color: darkorange;
  padding: 10px;
  margin: 15px;
}
.clear{
  background-color: brown;
  text-align: right;
  position: absolute;
  top: 68px;
  right: 15px;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
form {
  text-align: center;
}
form div{
  margin: 30px;
}
label{
  text-align: left;
  font-size: 30px;
}
input {
  font-size: 20px;
  padding: 5px;
  border-radius: 7px;
  width: 400px;
}
button{
  margin: 30px auto 30px 50px;
  font-size: 30px;
  padding: 10px;
  border-radius: 6px;
  background-color: deepskyblue;
  cursor: pointer;
}
button:hover{
  box-shadow: 5px 5px  rgb(86, 114, 124);

}
form p{
  margin-left: 60px;
  font-size: 20px;
}
form p a{
  color:rgb(12, 23, 1);
  font-size: 25px;
}

/* Log Out */
.container{
  text-align: center;
  margin: 30px;
  padding: 20px;
}
.container h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  margin: 20px;
}
.container p{
  font-size: 30px;
}


/* flashes */
#flashes {
  list-style: none;
  padding: 10px;
  font-size: 24px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: black;
  margin: 10px 0;
  border-radius: 5px;
}