{% extends 'base.html' %}
{% block main %}
<header>
    <div>
        <h1>Wellcome to our Online Bank Management System</h1><br/>
        <hr>
    </div>
</header>
<main>
    <div>
        <h2>This Web App is for educational Purposes only!</h2>
    </div>
    <div>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</main>
<footer>
    <h2>Contact us:</h2>
    <ul>
        <li><a href="https://t.me/livenow1221" title="telegram"><img src="./static/tele.jpg" alt="telegram" id="telegram"></a></li>
        <li><a href="web.facebook.com" title="facebook"><img src="./static/facebook.jpg" alt="facebook" id="facebook"></a></li>
        <li><a href="https://fike1221.github.io/First-Website/" title="website"><img src="./static/web.png" alt="website" id="website"></a></li>
        <li><a href="mailto:fikadumom@gmail.com" title="email"><img src="./static/emailpng.png" alt="email" id="email"></a></li>
    </ul>
</footer>
{% endblock %}